.App {
  text-align: center;
}

.nav-bar {
  border: 5px solid darkblue;
  background: black;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  display: inline-block;
  margin: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  background: darkblue;
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
}

.nav-bar a:hover, a:active, a.active{
  color: rgb(60, 210, 248);
}

.heading{
  border: 5px solid darkblue;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: inline-block;
  padding-left: 10px;
  padding-right: 15px;
  cursor: default;
}